@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 40px; /* Slightly increased margin for better spacing */
  font-family: var(--font-roboto), sans-serif;
  background: linear-gradient(
    135deg, /* Diagonal gradient for a more dynamic effect */
    rgba(255, 0, 150, 1) 20%, /* Vibrant pink */
    rgba(0, 204, 255, 1) 100% /* Cool cyan */
  );
  -webkit-background-clip: text; /* Clipping the background to the text */
  color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* Soft text shadow for depth */
  background-size: 200% auto; /* Expanding the gradient for animation */
  animation: gradientBackground 4s linear infinite; /* Gradient animation */
}

/* Animation to move the gradient smoothly */
@keyframes gradientBackground {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.emoji {
  font-size: 64px;
  margin-left: 10px;
  vertical-align: middle;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
